/* LoginModal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top */
  }
  
  .modal-content {
    background: #3890d8;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
  }

  .modal-input {
    display: block;
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
  }
  
  .modal-content button {
    margin-top: 10px;
  }
  
  button {
    cursor: pointer;
  }
  