.menu-box {
    background-color: white;
    margin: 0 0 0 auto;
    display: block;
    position: relative;
    width: 30%;
    /* Here is the size of the menuBox */
    height: 150%;
    margin-right: 10px;
    color: black;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
  }

  .button {
    font-size: 1.3rem;
    cursor: pointer;
    background-color: white;
    margin-left: 20px;
    border: none;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: left;
    padding-left: 10px; /* Ensures text stays in place */
    width: 100%; /* Keeps buttons aligned */
  }

  .menu-controls-hint {
    margin-top: 1rem;
    font-size: 15px;
    color: black;
    text-align: center;
    /* opacity: 0.8; */
  }